name: Deploy to Tencent COS

on:
  push:
    branches: [ main, master ]
  
  # 允许手动触发工作流
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      # 检出代码
      - name: Checkout code
        uses: actions/checkout@v3
      
      # 设置 Python 环境
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      
      # 安装 coscmd
      - name: Install coscmd
        run: pip install --upgrade coscmd
      
      # 配置 coscmd
      - name: Configure coscmd
        run: |
          coscmd config -a ${{ secrets.TENCENT_SECRET_ID }} -s ${{ secrets.TENCENT_SECRET_KEY }} -b lucky-1378323346 -r ap-shanghai
      
      # 部署到 COS
      - name: Deploy to COS
        run: |
          # 递归上传所有文件
          coscmd upload -r . / --delete  --content-type auto